
.row {
  .div1 {
    width: 50px;
    height: 25px;
    border-radius: 100px;
    border: 1px solid black;
    font-size: 15px;
    padding: 5px;
  }
}

.div2 {
  background-color: #04AA6D;
  height: 40px;
  width: 50px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-top: 8px;
}
.div3 {
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  padding: 5px;
  width: 400px;
  height: 40px;
  border: none;
}

.div4 {
  width: 100%;
  height: 500px;
  background-color: #282A35;
}
.div5{
 border: 2px solid white;
  border-radius: 100px;
  padding: 10px;
  background-color: pink;
}
.h51{
  margin-top: 10px;
}
.h52{
  margin-top: 10px;
  margin-left: 30px;
  border: 2px solid white;
  border-radius: 100px;
  padding: 15px;
  background-color: #04AA6D;
  width: 150px;
  text-align: center;
}
.h11{
  font-size: 90px;
  font-weight: bold;
  color: black
}